body {
    margin:none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.logo{
    height:fit-content;
    color:#B59A57;
    font-size: 30px;
    background-color:black;
    border-radius:10px;
    border-style:solid;
    width:fit-content;
    padding:5px;

}
/*-------------------CATEGORY LIST-------------*/
#categoryTable{
    background-color:black;
    color:#B59A57;
    padding:5px;
    border-style:solid;
    border-color:#B59A57;
    border-collapse: collapse;
    margin: 20px;
}
#categoryTable tr{
    text-align: center;
    padding:5%;
    border: solid lightgrey;

}
#categoryTable th,td{
    padding:5%;
}
#categoryTable button{
    color:#B59A57;
    text-align:center;
    padding: 5%;
    display:inline-block;
    margin: 20px;
    background-color:black;
    border-style:solid;
    border:gray;
}
#categoryTable button:hover{
    background-color:gray;
}
/*---------------END CATEGORY LIST------------------*/

/*------------START NAVIGATION BAR------------------------*/
/* removes bullets,margins, paddding from LIST*/

#navBar ul {
    list-style-type: none;
    margin: 20px;
    padding: 5px;
    overflow: hidden;
    background-color: black;

}

#navBar li{
    float:left;
}
/*Actual text*/
#navBar a{
    font-size: small;
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

#navBar li a:hover {
    background-color: #B59A57;
  }
/*-------------END NAVIGATION BAR------------------------*/

/*------------START LANDING PAGE-------------------------*/
/*ABOUT US SECTION*/
.t1 {border: none;
margin: 10px;
}

#first_row{
    background-color:#B59A57;
    height:360px;
    padding: 10px;
    margin: none;
}

#first_row img{
    width: 350px;
     height: 350px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border: solid;
}
#first_row h1{
    text-align: center;
    font-size: 30px;
}

#first_row p{
    text-align: center;
    font-size: 16px;
}



/*FACTS SECTION.... table 2*/

#t2{
    background-color:black;
    margin:none;
    color: white;

}


#t2 li{
    list-style: none;
    font-size: 15px;
    padding: none;
    margin: none;

}
#t2 caption{
    background-color:black;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-top: 15px;


}

#t2 td{
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;


}


span{ /*The numbering of facts*/
    color: #B59A57;
    font-size: 50px;
    font-weight: bold;
    float: inline-start;
}

/*------------END LANDING PAGE--------------------------*/